---
layout: home
background: '/media/ue5_b.jpg'
---
<h1>Hey, I'm Ben!</h1>
<!-- TODO: Add a picture of me -->
<!-- TODO: Description of myself and what I like to do -->

<p>Foo bar blahg who asd laeta Foo bar blahg who asd laeta Foo bar blahg who asd laeta Foo bar blahg who asd laeta Foo bar blahg 
  who asd laeta Foo bar blahg who asd laeta Foo bar blahg who asd laeta</p>

<div id="workExperience">

<!-- Home Post List -->
{% for post in site.posts %}
  <!-- Only show things from the workExperience subfolder in _posts -->
  {% if post.path contains 'workExperience' %}

  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
      <h3 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
      <h4 class="post-subtitle">{{ post.subtitle }}</h3>
      {% endif %}

      <!-- Show the image related to this position if there is one -->
      {% if post.banner-image %}
        <div id="bannerContainer">
          <img id="projectBanner" src={{ post.banner-image }} />
        </div>
      {% endif %}

      <p>{{ post.excerpt | strip_html | truncatewords: 35 }}</p>
    </a>
    <!-- Show start/end dates of this position -->
    <p class="post-meta">
      {{ post.start-date | date: '%B %d, %Y' }} to {{ post.end-date | date: '%B %d, %Y'}}      
    </p>
    <p></p>
  </article>
<hr>

  {% endif %}
{% endfor %}

</div>

<!-- TODO: Make my work experience in little tiles that react when you hover over them -->

<div id="PersonalProjects">
<h2>Personal Projects</h2>
  <!-- Home Post List -->
  {% for post in site.posts %}
    <!-- Only show things from the PersonalProjects subfolder in _posts -->
    {% if post.path contains 'PersonalProjects' %}
  
    <article class="post-preview">
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h3 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h4 class="post-subtitle">{{ post.subtitle }}</h3>
        {% endif %}
  
        <!-- Show the image related to this position if there is one -->
        {% if post.banner-image %}
          <div id="bannerContainer">
            <img id="projectBanner" src={{ post.banner-image }} />
          </div>
        {% endif %}
  
        <p>{{ post.excerpt | strip_html | truncatewords: 35 }}</p>
      </a>
      <!-- Show start/end dates of this position -->
      <p class="post-meta">
        {{ post.start-date | date: '%B %d, %Y' }} to {{ post.end-date | date: '%B %d, %Y'}}      
      </p>
      <p></p>
    </article>
  <hr>
  
    {% endif %}
  {% endfor %}
  
  </div>